#dns {
    font-family: "Dancing Script", cursive;
}

.typing-cursor::after {
    content: '|';
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


#move {
    position: fixed;

    transform: translate(-50%, -50%);
    font-size: 50px;
    z-index: 999;
    color: #808080;
    pointer-events: none;
}

#move2 {
    transition: 0.2s;
}